.menu{
    text-decoration: none;
    padding: 4vh;
}
.menu a {
    text-decoration: none;
    padding: 2vh;
    font-size: 35px;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    
}
.containerPays{
    /* position: absolute; */
    display: flex;
    width: 33%;
    height: auto;
    flex-direction: column;
    flex: 33%;
}
ul{
    justify-items: center;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
ul li {
    text-decoration: none;

}
.container div:nth-of-type(2n+1){
    background-color:#FAFAFB;
}